extends layout

block content
 div.contentTitle= title
  div
   div.contetSpacing
    form( method="post", action="/cars/adddata", enctype="multipart/form-data" )
      table
        tr
          td Name:
          td 
            input(type="text", name="car_name", id="addCarName")
        tr
          td Color:
          td 
            input(type="text", name="color", id="addCarColor")
        tr
          td Company:
          td
            input(type="text", name="company", id="addCarCompany")
        tr
          td Image:
          td
            input(type="file", name="car_image")
        tr
          td
          td
             input(type="submit", value="Save")
        tr
          td
             a(href="/cars")!= "Back to Car List"
          td 

