extends layout

block content
  h1= title
  form( method="get", action="/cars/adddata", enctype="multipart/form-data" )
    div
      span.label Name :
        input(type="text", name="car_name", id="addCarName")
    div
      span.label Color :
        input(type="text", name="color", id="addCarColor")
    div
      span.label Company :
        input(type="text", name="company", id="addCarCompany")
    div#addCarSubmit
      input(type="submit", value="Save")
   a(href="/cars")!= "Back to Car List"

