body {
margin: 0;
padding: 0;
text-align: left;
font-family:Verdana;
color: #061C37;
background: #014D5D url("../images/background.png");
background-repeat:repeat-x;
}
a{font-size:13px;}
*
{
margin: 0 auto 0 auto;
text-align:left;
font-size: 12px;
}

#page
{
  display: block; 
  height:auto;
  position: relative; 
  overflow: hidden; 
  width: 670px;
}

.contentBox
{
width:670px;
height:auto;
background-color:#FFFFFF;
margin-top:10px;
}

.contentBox .innerBox
{
position:relative;
width:650px;
height:auto;
top:10px;
margin-left:10px;
background-image:url("../images/content_back.png");
background-repeat:repeat-x;
padding-bottom:35px;
}

.contentTitle
{
font-size:19px;
margin-bottom:0px;
padding-top:18px;
margin-left:15px;
margin-top:15px;
}

.contentText
{
font-size:13px;
line-height:24px;
margin-left:13px;
margin-right:13px;
}
.contetSpacing{
 padding: 5px 0 13px 0;
}
a.addnew{
float:right;
}
